<p>Track: <a href="<%= track_link %>" target="_blank"><%= track_name %></a></p>
<p>Album: <a href="<%= album_link %>" target="_blank"><%= album_name %></a></p>
<p>Artist: <a href="<%=  artist_link %>" target="_blank"><%= artist_name %></a></p>
<div id="artwork_wrapper">
	<a id="artwork" href="<%= track_link %>" target="_blank"><img src="<%= artwork %>"></a>
</div>